*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    background-color: rgb(242, 235, 227);
}

.container{
    width: 90%;
    margin: 1rem auto;
    background: rgb(255, 255, 255);
    border-radius: 1rem;
    overflow: hidden;
}

.product-image{
    background-image: url(images/image-product-mobile.jpg);
    width: 100%;
    height: 30rem;
    background-size: cover;
}

.card-details{
    padding: 2.5rem;
}

.btn a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: 'Montserrat', sans-serif; 
    font-weight: 400;
    font-size: 1.4rem;
}

.btn{
    width: 100%;
    height: 5rem;
    border: none;
    border-radius: 4px;
    background-color: hsl(158, 36%, 37%);
    margin: 2rem 0;
    cursor: pointer;
}

.btn:hover{
    background-color:  hsl(158, 37%, 19%);;
}

h1, 
h2,
p,
.prices{
    color: hsl(212, 21%, 14%);
    margin-top: 1.2rem;
    
}

h2{
    font-family: 'Montserrat', sans-serif;    
    font-size: 1.2rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1rem;
}

h1{
    font-family: 'Fraunces', serif;
    font-size: 4.2rem;
   
}

p{
    font-family: 'Montserrat', sans-serif; 
    font-weight: 400;
    font-size: 1.4rem;    
    line-height: 1.8;
}

.prices{
    display: flex;
}
.prices h1{
    color: hsl(158, 36%, 37%);
    margin-right: 2rem;
}
.prices p{
    margin-top: 2rem;
}




/* media queries */

@media (min-width: 480px){
    body{
        min-height: 100vh;
        display: flex;
        align-items: center;
        justify-contents:center;

    .container{
        display: flex;
        width: 50%;        
    }

    .product-image{
        background-image: url(images/image-product-desktop.jpg);
        
       height: 50rem;
        width: 50%;
        
    }
    .card-details{
        width: 50%;
    }
}
